                                                                                                                                                         <div id="header">
  <div id="header-container" class="squeeze">
    <div id="header-left">
      <div class="logo float-left"><a href="#"><img src="https://staging.betterdayhealth.net/BetterDay/Content/themes/static/Images/UIv2/logo.png" width="219" height="48" alt="Logo"></a></div><!-- end .logo -->
      <div class="nav-area float-left">

      </div><!-- end .nav-area -->
    </div><!-- end #header-left -->
    <div id="header-right">
      <div class="support-col float-left">

      </div><!-- end .support-col -->
    </div><!-- end #header-right -->
  </div><!-- end #header-container .big-squeeze -->
</div><!-- end #header -->


<div id="sub-header">
  <a>{{greetMessage}}</a>
  <p *ngIf="logout">Logout</p>
  <p *ngIf="!logout">Login</p>
  <div id="sub-header-container">
    <div class="search-container float-left">

    </div><!-- end .search-container -->
    <div id="user-info" class="float-right">

    </div><!-- end #user-info -->
  </div><!-- end #sub-header-container -->
</div><!-- end #sub-header -->
