<div class="base_footer">

  <div id="footer">
    <div class="squeeze">
      <span class="footerText">
        Copyright © 2018, Better Day™ Health. All rights reserved.<br>Version: 1.0.532.e24aabe<br>
        <span id="CPTDisclaimerParagraph">CPT Copyright © <span id="CPTDisclaimerYear">2017</span> American Medical Association. All rights reserved.</span>
      </span>
      <div class="logo float-right"><a href="/#"><img src="https://staging.betterdayhealth.net/BetterDay/Content/themes/static/Images/UIv2/logo.png" width="219" height="48" alt="Logo"></a></div><!-- end .logo -->
    </div><!-- end .squeeze -->
  </div><!-- end #footer -->

</div>
