
  <div class="base_wrapper">

    <div id="outer-wrapper">
      
      <div id="main-content" class="squeeze">
        <div id="login-area">
          <div class="content-header">

          </div><!-- end .content-header -->


          


          <div id="registrationHelp" title="Help - Register" style="display:none">
            <p>
              <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
              Registration Help Instructions
            </p>
            <p>Click this box to Register with the Better Day EHR.</p>
            <p><a href="#" class="darkGreyLink14">Go To Customer Support</a></p>
            <p><a href="#" class="darkGreyLink14">Chat with Customer Support</a></p>
          </div>

          <div id="passwordRecoveryHelp" title="Help - Password Recovery" style="display:none">
            <p>
              <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
              Password Recovery Help Instructions
            </p>
            <p>Click this box to recover your password. You must have already Registered to recover your password.</p>
            <p><a href="#" class="darkGreyLink14">Go To Customer Support</a></p>
            <p><a href="#" class="darkGreyLink14">Chat with Customer Support</a></p>
          </div>


          <div class="col-left">
            <div class="float-right">
              <div class="largeButton" routerLink='/registrationConfirmation'>
                <div class="helpButton" id="registrationHelpBtn"></div>
                <div style="padding-top:8px;">
                  <div class="black24">Register as a New User</div>
                  <div class="lightGrey16" style="padding-top:10px;">If you do not have a Username/Password, <br>please click here to Register. </div>
                </div>
              </div>
            </div>
          </div>
          <kendo-grid
            id="productsGrid"
            (cellClick)="cellClickHandler($event)"
            [groupable]="true"
            [group]="groups"
            (groupChange)="groupChange($event)"
            [data]="view"
            height="500"
            (add)="addHandler($event)"
          >
            <ng-template kendoGridToolbarTemplate>
              <button kendoGridAddCommand>Add new</button>
              <button *ngIf="formGroup"
                      (click)="cancelHandler()"
                      class="k-button k-primary">Cancel</button>
            </ng-template>
            <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
            <kendo-grid-column field="UnitPrice" editor="numeric" title="Price"></kendo-grid-column>
            <kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued"></kendo-grid-column>
            <kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock"></kendo-grid-column>
          </kendo-grid>
        </div>


      </div><!-- end #inner-wrapper -->


    </div>
    <div class="base_push"></div>
  </div>

  <span id="popupNotification"></span>

  <style type="text/css">
    .bigYes {
      width: 160px;
    }

    .ui-button-text-big {
      color: #000000;
      font-weight: bold;
      font-size: 28px;
    }
  </style>

  <span id="backToTopButton">Back to Top</span>
